/* fonts */
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
        url('../fonts/gothampro400/GothamPro.woff2') format('woff2'),
        url('../fonts/gothampro400/GothamPro.woff') format('woff'),
        url('../fonts/gothampro400/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('Gotham-Pro-Medium'),
        url('../fonts/gothampro500/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/gothampro500/GothamPro-Medium.woff') format('woff'),
        url('../fonts/gothampro500/GothamPro-Medium.tt5') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
        url('../fonts/gothampro700/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/gothampro700/GothamPro-Bold.woff') format('woff'),
        url('../fonts/gothampro700/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ALS Schlange Sans';
    src: local('ALS Schlange Sans Bold'), local('ALS-Schlange-Sans-Bold'),
        url('../fonts/ALSSchlangeSans700/ALSSchlangesans-Bold.woff2') format('woff2'),
        url('../fonts/ALSSchlangeSans700/ALSSchlangesans-Bold.woff') format('woff'),
        url('../fonts/ALSSchlangeSans700/ALSSchlangesans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

/* main */
.start-page-header, .main-start-page, .who-is-online-educition, .aside-form, .when-spend-lesson, .what-studens-like-us, .descrition-online-school, .license {
    max-width: 1200px;
    margin: auto;
}
.bg-lenuar {
    background: linear-gradient(#FFFFFF 0%, #EEF1FD 100%);
    padding-bottom: 65px;
}
/* header */
.header {
    margin-top: 10px;
}
/* top header */
.flex-container {
    display: flex;
    align-items: center;
}
.contact-tel {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #243976;
    line-height: 118.2%;
}
.button-sign-up-in-lesson {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
    border-radius: 90px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 118.2%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 21px 31px;
}
.contact-top-header {
    gap: 0 30px;
}
/* bottom header */
.buttom-header {
    margin-top: 15px;
    background: url(../assets/vectors/header-line.svg) top center no-repeat;
}
.nav-bottom-header-link {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 118%;
    text-align: center;
    color: #243976;
}
.my-account:hover {
    cursor: pointer;
}
.my-account-text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 118.2%;
    color: #243976;
    margin-left: 9.5px;
}
.my-account-text:hover {
    color: #486edf;
}
/* buttons header */
.button-choose-form {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    border-radius: 25px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 118.2%;
    color: #FFFFFF;
    padding: 8px 30px;
    margin-top: 30px;
    margin-right: 15px;
    transition: transform, color, 250ms;
}
.button-choose-form:hover {
    transform: scale(1.2);
}

/* start page wrapper */
.wrapper-start-page {
    background: url(../assets/bg/pic_main.png) bottom right no-repeat;
}
.wrapper-text-elem {  
    width: 700px;
    margin-top: 20px;
}
.wrapper-start-page-heading {
    font-family: 'ALS Schlange Sans';
    font-weight: 700px;
    font-size: 84px;
    line-height: 103.2%;
    color: #243976;
}
.start-page-heading-blue-heading {
    color: #49B3F7;
}
.discription-wrapper-start-page {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 165.2%;
    color: #243976;
    width: 500px;
}
.bold-discription {
    font-weight: 700;
    display: inline-block;
    margin-top: 30px;
}
.button-start-page {
    margin-top: 37px;
    padding: 27px 43px;
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
    border-radius: 90px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 118.2%;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contact-soc-site {
    margin-top: 15px;
    align-items: center;
    cursor: pointer;
}
.or-write-text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 165.2%;
    color: #737373;
}
.soc-site-img {
    transition: transform 300ms;
}
.soc-site-img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.soc-site-img:active {
    transform: scale(0.9);
} 
/* answer quastion section */
.answer-quastion-section {
    margin-top: 60px;
}
/* answer article */
.h2-anwer-quastion {
    font-family: 'ALS Schlange Sans';
    font-weight: 700;
    font-size: 50px;
    line-height: 103.2%;
    text-align: center;
    color: #243976;
}
.list-reasons-card {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}
.reasons-card {
    width: 180px;
    text-align: center;
    margin-right: 80px;
}
.discription-reasons-card {
    margin-top: 32px;
    display: inline-block;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #243976;
}
/* aside */
.aside-form {
    position: relative;
    height: 340px;
}
.img-aside {
    display: block;
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: 1;
}
.aside-text h3 {
    font-family: 'ALS Schlange Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 103.2%;
    color: #243976;
    width: 530px;
}
.aside-for-first-mounth {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background: #EFF2FD;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: flex-end;
    gap: 0 35px;
}
.aside-text p {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #243976;
    width: 520px;
}
/* article when spend lesson */
.when-spend-lesson {
    margin-top: 80px;
}
.horizontal-cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 20px;
    background: url(../assets/vectors/weeeb.svg) center no-repeat;
}
.horizontal-card {
    height: 227px;
    width: 590px;
    position: relative;
    display: flex;
    align-items: center;
}
.horizontal-card p {
    position: absolute;
    width: 310px;
    display: inline-block;
    font-family: 'Gotham Pro';
    font-style: normal;
}
.horizontal-card-top {
    right: 0;
}
.heading-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 103%;
    color: #243976;
}
.discription-card {
    font-weight: 400;
    font-size: 15px;
    line-height: 157%;
    color: #243976;
}
.bg-first-hor-card {
    background: url(../assets/preview-card/first-card-horizontal-img.svg) top left no-repeat;
}
.bg-second-hor-card {
    background: url(../assets/preview-card/second-card-horizontal-img.svg) center left no-repeat;
}
.bg-third-hor-card {
    background: url(../assets/preview-card/third-card-horizontal-img.svg) center right no-repeat;
}
.bg-forth-hor-card {
    background: url(../assets/preview-card/forth-card-horizontal-img.svg) center right no-repeat;
}
/* article what students like us*/
.bg-lenuar-second-block {
    background: #EFF2FD;
    padding: 55px 0;
}
.what-studens-like-us {
    background: url(../assets/bg/what\ srudent\ like\ us.svg) no-repeat;
    background-position: right 30% ;
}
.what-studens-like-us h2 {
    text-align: left;
}
.reasons-list-conteiner {
    width: 520px;
    margin-top: 55px;
}
.reasons-blocks {
    padding: 13px 36px 13px 20px;
    transition: all 500ms;
    margin-top: 20px;
}
.reasons-blocks:hover {
    background: #FFFFFF;
    box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
    border-radius: 25px;
    cursor: pointer;
}
/* .reasons-blocks h3:hover {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} */
/* comparison  */

.main-comparison {
    margin: 80px 0;
}
.bg-comparison {
    background: url(../assets/bg/simple\ school.svg) center left no-repeat, url(../assets/bg/online\ school.svg) center right no-repeat;
    max-width: 1400px;
    margin: 0px auto;
}
.cards-comparison {
    position: relative;
    width: 690px;
    height: 500px;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card-comparison {
    border-radius: 15px;
    position: absolute;
}
.simple-school {
    background: linear-gradient(180deg, #EFF2FD 0%, #FCFCFC 100%);
    left: 0;
    padding: 40px 60px;
    width: 360px;
    height: 470px;
}
.online-school {
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    right: 0;
    padding: 40px 70px;
    width: 376px;
    height: 490px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card-comparison h3 {
    font-size: 32px;
    line-height: 103.2%;
    font-family: 'ALS Schlange Sans';
    font-weight: 700;
    margin-bottom: 30px;
}
.simple-school h3 {
    font-style: 34px;
    color: #243976;
}
.online-school h3 {
    color: #FFFFFF;
}
.card-comparison ul {
    list-style-type: none;
    padding: 0;
}
.card-comparison ul li {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 12px;
}
.li, .bold-li {
    margin-left: 30px;
}
.simple-school ul li {
    background: url(../assets/vectors/blue\ ellipse.svg) center left no-repeat;
    color: #243976;
}
.online-school ul li {
    background: url(../assets/vectors/white\ ellipse.svg) center left no-repeat; 
    color: #FFFFFF;
}
.bold-li {
    font-weight: 700;
}
/* discription online school */
.cards-discription-conteiner {
    margin: 60px 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 60px;
    justify-content: center;
}
.card-discription-school {
    background: url(../assets/bg/ellipse-bg.svg) 45% 0% no-repeat;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-discription-school p, .card-discription-school h3 {
    text-align: center;
}
/* price */
.bg-price-article {
    margin-top: 80px;
    background: #EFF2FD;
    padding: 60px 0 100px;
}
.price-article {
    max-width: 1200px;
    margin: 0 auto;
}
.cards-price-conteiner {
    display: flex;
    justify-content: space-between;
}
.card-conteiner {
    height: 585px;
    width: 345px;
    font-family: 'Gotham Pro';
    font-style: normal;
    position: relative;
}
.price-div {
    padding: 25px 35px;
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 270px;
    position: absolute;
    top: 30px;
    right: 58px;
    z-index: 1;
}
.discription-class-conteriner {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 50px;
    padding: 50px 40px 25px 35px;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.school-student-img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.price-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 141%;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBF8F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.in-mouth {
    font-weight: 400;
    font-size: 14px;
    line-height: 141.7%;
    text-align: center;
    color: #E9E8FA;
}
.school-classes {
    font-weight: 500;
    font-size: 20px;
    line-height: 103.2%;
    color: #243976;
}
.discription-class {
    font-weight: 400;
    font-size: 17px;
    line-height: 103.2%;
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.discription-class-conteriner ul {
    padding: 0;
    list-style-type: none;
    width: 200px;
}
.discription-class-conteriner ul li {
    margin-bottom: 20px;
    background: url(../assets/vectors/check-mark.svg) center left no-repeat;
}
.discription-class-conteriner ul li span {
    display: inline-block;
    margin-left: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 103.2%;
    color: #243976;
}
.button-price-card-div {
    padding-left: 10px;
}
.button-price-card {
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    box-shadow: 0px 4px 20px #648CEB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 6px 40px;
}
.button-price-card span {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBF8F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* license */
.license {
    background: url(../assets/certificate.svg) center right no-repeat;
    padding: 80px 0 80px;
}
.license-text h2 {
    text-align: left;
    margin-top: 10px;
}
.license-text {
    width: 440px;
    margin-top: 60px;
}
.license-text p {
    font-size: 20px;
    line-height: 103.2%;
}
/* review card */
.reviews {
    background: url(../assets/bg/bg-review.svg) 60% 35% no-repeat;
}
.card-review-contiener {
    width: 100%;
    overflow: hidden;
}
.card-review-contiener, .card-review {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-review-contiener {
    margin: 200px 0;
    gap: 0 100px;
}
.card-review {
    background: url(../assets/bg/message.svg) 90% center no-repeat, #FFFFFF;
    width: 620px;
    box-shadow: 14px 22px 40px rgba(30, 35, 66, 0.28);
    border-radius: 20px;
    padding: 30px;
}
.vk-review-card {
    border: 5px solid #4C75A3;
}
.instagram-review-card {
    border: 5px solid #a34c97;
}
.auther-review {
    width: 250px;
}
.logo-soc-site-auther {
    margin-bottom: 30px;
}
.auther-review-text {
    margin-bottom: 10px;
    font-family: 'ALS Schlange Sans';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #243976;
}
.auther-discription {
    margin-bottom: 18px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #243976;
}
.auther-soc-site-link {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.review-text {
    width: 340px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #243976;
}
.review-arrow-button-contiener {
    text-align: center;
}
.review-arrow-button {
    cursor: pointer;
}